<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - News Hub</title>
    <link rel="shortcut icon" href="imgs/shortcut.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>
<body>
    <%- include('partials/header') %>

    <main class="main-content">
        "Em Alta" e "Notícias"
        <h3>Notícias</h3>
        <!--em alta-->
        <section class="em-alta"> <!--Adicionar aqui as 3 em alta no dia-->

        </section>

        <!--todas outras notícias da mais recente para a mais atual...-->
        <section class="todas-noticias">
            
            <ul>
                <% if (typeof noticias !== 'undefined' && noticias.length > 0) { %>
                    <% noticias.forEach(noticia => { %>
                        <li><a href="/noticia/<%= noticia.slug %>"><%= noticia.titulo %></a></li>
                    <% }); %>
                <% } else { %>
                    <li>Nenhuma notícia disponível</li>
                <% } %>
            </ul>
        </section>
    </main>


    <%- include('partials/footer') %>
</body>
</html>