<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir Senha</title>
    <link rel="shortcut icon" href="/imgs/SHORTCUTT.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login_register.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"/>
</head>
<body>
    <div class="login-container">
        <h1>Redefinir senha</h1>
        <% if (error) { %>
            <div class="message error"><%= error %></div>
        <% } %>
        <% if (message) { %>
            <div class="message success"><%= message %></div>
        <% } %>
        <% if (!message) { %>
        <form action="/reset-password/<%= id %>/<%= token %>" method="POST">
            <div class="form-group">
                <label for="password">Nova senha:</label>
                <input type="password" name="password" id="password" required minlength="8">
            </div>
            <button type="submit">Salvar nova senha</button>
        </form>
        <% } %>
        <div class="register-link">
            <a href="/login">Voltar ao login</a>
        </div>
    </div>
</body>
</html>
