<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="/css/footer.css">


<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h3 class="footer-title">Ajuda</h3>
            <ul class="footer-links">
                <li><a href="/contato">Contato</a></li>
                <li><a href="/politica-de-privacidade">Política de Privacidade</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h3 class="footer-title">Siga-nos no Linkedin</h3>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/fernando-matos-eugenio/" class="social-icon" aria-label="LinkedIn">Fernando: <i class="fab fa-linkedin-in"></i></a>
                <a href="www.linkedin.com/in/gabriel-barreto-fraga" class="social-icon" aria-label="LinkedIn">Gabriel: <i class="fab fa-linkedin-in"></i></a>
                <a href="https://www.linkedin.com/in/jo%C3%A3o-henrique-mendes-a36019323/" class="social-icon" aria-label="LinkedIn">Henrique: <i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>

        <div class="footer-section">
            <h3 class="footer-title">Siga-nos no Github</h3>
            <div class="social-icons">
                <a href="https://github.com/fernandomec" class="social-icon" aria-label="GitHub">Fernando: <i class="fab fa-github"></i></a>
                <a href="https://github.com/Gab1203" class="social-icon" aria-label="GitHub">Gabriel: <i class="fab fa-github"></i></a>
                <a href="https://github.com/HenrykMendes" class="social-icon" aria-label="GitHub">Henrique: <i class="fab fa-github"></i></a>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; <%= new Date().getFullYear() %> Fernando, Gabriel, Henrique.</p>
    </div>
</footer>